.hide { display: none; }

.color-picker-overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; }

.color-picker { 
    display: block;
    position: absolute; top: 50%; left: 50%;
    height: 326px;
    width: 291px;
    border: 1px solid #b5b5b5;
    background: #ededed; 
    padding: 10px;
    box-shadow: 0 5px 25px -10px #000;
    transition: opacity 200ms, transform 400ms, visibility 300ms;
    transform: scale(1);
    transform-origin: left;
    opacity: 1;
    z-index: 1000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.color-picker.transform-left { transform-origin: left; }
.color-picker.transform-top { transform-origin: top; }
.color-picker.transform-top-left { transform-origin: left top; }
.color-picker.transform-top-right { transform-origin: right top; }
.color-picker.transform-right { transform-origin: right; }
.color-picker.transform-bottom-left { transform-origin: left bottom; }
.color-picker.transform-bottom { transform-origin: bottom; }
.color-picker.transform-bottom-right { transform-origin: bottom-right; }
.color-picker.hide { 
    opacity: 0;
    transform: scale(0.7);
    visibility: hidden;
}
.color-picker .close { 
    display: block; 
    float: left; 
    height: 18px; width: 18px; 
    text-align: center; 
    margin: 3px 0 0 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color: black;
    text-shadow: 0 1px 0 white;
    text-decoration: none;
    opacity: .2;
}

.color-picker-target { 
    -webkit-transition: none;
}

.color-picker-arrow {
    display: none;
}

.box-wrap { border: 1px solid #a5a5a5; }
.box { border: 1px solid #fff; }

.color-sample-wrap { width: 258px; height: 22px; float: left; margin: 0 0 7px; }
.color-sample { width: 256px; height: 20px; }

.color-box-wrap { width: 258px; height: 258px; margin: 0; float: left; }
.color-box { width: 256px; height: 256px; position: relative; background: red; overflow: hidden; }

.color-box-overlay { width: 256px; height: 256px; position: absolute; top: 0; left: 0; background: url("../img/color-box-overlay.png") no-repeat; }
.color-box-handle { width: 8px; height: 8px; border: 1px solid #000; position: absolute; border-radius: 4px;}
.color-box-handle-inner { width: 6px; height: 6px; border: 1px solid #fff; border-radius: 3px; }

.hue-slider-wrap { height: 258px; width: 22px; margin: 0 0 0 7px; float: left; }
.hue-slider { height: 256px; width: 20px; background: url("../img/color-slider.png") repeat-x; position: relative; }
.hue-slider-handle { position: absolute; left: -4px; height: 1px; width: 26px; border: 1px solid #000; background: #fff; }

/* Bootstrap buttons */

.color-picker .btn {
    display: inline-block;
    *display: inline;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 13px;
    line-height: 18px;
    *line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    *zoom: 1;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}
.color-picker .btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #E6E6E6;
    background-position: 0 -15px;
    transition: background-position .1s linear;
}
.color-picker .btn.active,
.color-picker .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.color-picker .btn-primary, 
.color-picker .btn-primary:hover, 
.color-picker .btn-inverse, 
.color-picker .btn-inverse:hover {
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.color-picker .btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.color-picker .btn-primary {
    background-color: #0074cc;
    *background-color: #0055cc;
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.color-picker .btn-primary:hover,
.color-picker .btn-primary:active {
    background-color: #0055cc;
    *background-color: #004ab3;
}

.color-picker .btn-primary:active,
.color-picker .btn-primary.active {
    background-color: #004099 \9;
}
.color-picker .btn-inverse {
    background-color: #414141;
    *background-color: #222222;
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.color-picker .btn-inverse:hover,
.color-picker .btn-inverse:active,
.color-picker .btn-inverse.active,
.color-picker .btn-inverse.disabled,
.color-picker .btn-inverse[disabled] {
    background-color: #222222;
    *background-color: #151515;
}

.color-picker .btn-inverse:active,
.color-picker .btn-inverse.active {
    background-color: #080808 \9;
}

.color-picker .btn-wrap { float: left; margin: 7px 0 0; }
.color-picker .btn-wrap .btn { border-radius: 0; width: 118px; }
.color-picker .btn-wrap .btn-primary { margin-left: 7px; }